#popupwindow {
  display: block;

  transition: 0.5s;

  z-index: 10;

  width: 500px;
  height: 280px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin-left: -250px;
  margin-top: 300px;

  background-color: rgba(255, 255, 255, 0);

  border-radius: 10px;

  box-shadow: 0 12px 16px 0 rgba(0,89,181,0), 0 17px 50px 0 rgba(0,89, 181,0);

  text-align: center;
}

#popuptext {
  display: block;
  margin: 50px 40px 0 40px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0);

  : 0.3s;
}

#popupbutton {
  display: inline;
  height: 38px;

  margin-top: 70px;
  margin-left: 20px;

  color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 150, 220, 0);
  background: rgba(255,255,255,0);

  transition: 0.5s;
}

#popupbutton:hover {
  background-color: rgba(0, 150, 220, 1);
  color: rgba(255, 255, 255, 1);

  visibility: visible;
}

#popupinput {
  display: inline;

  border-radius: 10px;

  margin-top: 70px;
  margin-left: 10px;

  height: 30px;
  width: 300px;

  border-color: rgba(0, 150, 220, 0);
  background-color: rgba(255, 255, 255, 0);

  transition: 0.5s;
}
