/* ----------------------------------------------------------------------- */
/* Constantly changing background color */
/* ----------------------------------------------------------------------- */

/* quicksand-regular - latin */
/* quicksand-600 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/quicksand-v24-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v24-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  font-family: "Quicksand", sans-serif;
}

html, body {
  width: 100%;
  height:100%;
  overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(45deg, rgba(199,255,193,0.6) 0%, rgba(205,255,226,0.6) 25%, rgba(153,237,255,0.6) 50%, rgba(197,192,255,0.6) 75%, rgba(246,196,255,0.6) 100%);
    background-size: 400% 400%;
    animation: gradient 90s ease infinite;

    transition: 0.5s;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* ----------------------------------------------------------------------- */
/* Homepage Only */
/* ----------------------------------------------------------------------- */
/* Move all the cards. */
#homepagelayout {
  margin-top: 150px;
}

/* Photo */
#div-portrait {
  height:655px;
  width: 435px;

  margin-top: auto;
  margin-right: 200px;
  margin-left: 30px;

  float: right; /* Move to the right */

  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);

  transition-duration: 0.5s;
}
/* Photo on hover */
#div-portrait:hover {
  box-shadow: 0 12px 16px 0 rgba(0,89,181,0.1), 0 17px 50px 0 rgba(0,89, 181,0.05);
}
/* The photo itself */
#image-portrait {
  width: 380px;
  margin-top: 80px;

  display: block; /* Horizontally center the photo */
  margin-left: auto; /* Horizontally center the photo */
  margin-right: auto; /* Horizontally center the photo */
}

#name {
  width: 1610px;
}
#game {
  width: 1610px;
}


/* ----------------------------------------------------------------------- */
/* Div formats that are applied on all the pages */
/* ----------------------------------------------------------------------- */
div.block {
  font-size: 23px;

  border-radius: 15px;

  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right:30px;

  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;

  background-color: rgba(255, 255, 255, 1);

  transition: 0.5s;
}
div.block:hover {
  box-shadow: 0 12px 16px 0 rgba(0,89,181,0.1), 0 17px 50px 0 rgba(0,89, 181,0.05);
}

/* Formats of the memes on some of the page */
.meme {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.meme-comments {
  text-align: center;
}

/* Formats of the heading of each lab page */
div.biaoti h1 {
  text-align: center;
  font-size: 60px;
}
div.biaoti {
  margin-bottom: 80px;
}

/* Make every image round corner */
img {
    border-radius: 15px;
}

/* Formats of all the buttons */
button {
  font-size: 15px;
  font-weight: bold;

  margin: 10px 10px;

  padding: 10px;

  cursor: pointer;

  border-width: thin;
  border-radius: 15px;
  border: 1px solid rgb(0, 150, 220);

  background: rgba(255,255,255,1);

  transition: 0.5s;
}
div.block button:hover {
  background-color: rgb(0, 150, 220);
  /* box-shadow: 0 7px 10px 0 rgba(0,89,181,0.3), 0 9px 15px 0 rgba(0,89, 181,0.25); */
  color: rgb(255, 255, 255);
}

p {
  transition: 0.5s;
}

/* ----------------------------------------------------------------------- */
/* The side navigation menu */
/* ----------------------------------------------------------------------- */
.sidenav {
  height: 90%; /* 100% Full-height */
  width: 10px; /* 0 width - change this with JavaScript */
  z-index: 2; /* Stay on top */

  position: fixed; /* Stay in place */
  left: 0; /*Vertically center */
  top: 50%; /*Vertically center */
  -ms-transform: translate(0,-50%); /*Vertically center */
  transform: translate(0,-50%); /*Vertically center */


  overflow-x: hidden; /* Work with ".sidenav::-webkit-scrollbar" */
  overflow-y: scroll; /* Hide x,y scroll bar, while y still able to scroll */

  padding-top: 60px; /* Place content 60px from the top */

  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 12px 16px 0 rgba(0,89,181,0.1), 0 17px 50px 0 rgba(0,89, 181,0.05);
}
/* Hide scroll bar on Chrome but still able to scroll */
.sidenav::-webkit-scrollbar {
    display: none;
}
/* The navigation menu links */
.sidenav .links {
  font-size: 25px;
  text-decoration: none;

  display: block;
  text-align: left;

  padding: 20px 20px 20px 20px;

  color: rgba(0,0,0,1);

  transition: 0.5s;

  visibility: hidden;
}
/* When you mouse over the navigation links, change their color */
.sidenav .links:hover {
  transform: translateX(20px);
  /* color: rgba(0,150,220,1); */

  background-color: rgb(0, 150, 220);
  box-shadow: 0 7px 10px 0 rgba(0,89,181,0.3), 0 9px 15px 0 rgba(0,89, 181,0.25);
  color: rgb(255, 255, 255);

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Format of the little handle of the side navigation bar */
span {
  z-index: 1;

  margin-left: 2px;

  font-size: 30px;

  position:fixed;
  top: 50%;
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);

  transition: 0.5s;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  height: 150px;
  width: 40px;

  color: rgba(0,0,0,0.45);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 12px 16px 0 rgba(0,89,181,0.1), 0 17px 50px 0 rgba(0,89, 181,0.05);
}
span:hover {
  cursor: pointer;
}

/* Lines in sidenav */
hr {
  width: 150px;
  margin-left: 20px;
  visibility: hidden;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  z-index: 0;

  transition: 0.5s;
  padding: 20px;

  margin-bottom: 100px;

}
