html {
  background: radial-gradient(circle, rgba(0,89,181,0.19931722689075626) 30%, rgba(118,238,255,1) 100%);
}

body {
  border-radius: 25px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.35);
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-bottom: 78px;
}

#div-portrait {
  margin-top: 38px;
  margin-right: 30px;
  margin-left: 30px;
  float: right;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  height:685px;
  width: 435px;
}

#name {
  width: 1060px;
}

#game {
  width: 1060px;
}

#image-portrait {
  border-radius: 25px;
  width: 380px;
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.block {
  border-radius: 25px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right:30px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.4);

  font-size: 23px;
}

.meme {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.meme-comments {
  text-align: center;
}
