html {
  background: radial-gradient(circle, rgba(0,89,181,0.19931722689075626) 30%, rgba(118,238,255,1) 100%);
}

body {
  border-radius: 25px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.35);
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-bottom: 78px;
}

#div-portrait {
  margin-top: 38px;
  margin-right: 30px;
  margin-left: 30px;
  float: right;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  height:685px;
  width: 435px;
  transition-duration: 0.4s;
}

#div-portrait:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#name {
  width: 1060px;
}

#game {
  width: 1060px;
}

#image-portrait {
  width: 380px;
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


div.block {
  border-radius: 25px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right:30px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  transition-duration: 0.4s;
  font-size: 23px;
}

div.block:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.meme {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.meme-comments {
  text-align: center;
}

div.biaoti h1 {
  text-align: center;
  font-size: 60px;
}

div.biaoti {
  margin-bottom: 80px;
}

img {
    border-radius: 25px;
}

button {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 10px;
  padding: 10px;
  border-width: thin;
  cursor: pointer;
  border-radius: 8px;
  background: rgb(255,255,255);
  border: 1px solid rgb(0, 150, 220);
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(0, 150, 220);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: rgb(255, 255, 255);
}
