/* div.popups {
  width: 500px;
  height: 280px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin-left: -250px;
  margin-top: -180px;

  background-color: white;

  border-radius: 10px;

  box-shadow: 0 12px 16px 0 rgba(0,89,181,0.1), 0 17px 50px 0 rgba(0,89, 181,0.05);

  text-align: center;

  visibility: hidden;
}

div.popups h3 {
  margin: 50px 40px 0 40px;
  font-size: 25px;

  visibility: inherit;
}

body {
  background-color: white;
}

input {
  border-radius: 4px;

  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;

  height: 30px;
  width: 400px;

  border-color: blue;

  visibility: inherit;


} */


p {
  filter: blur();
}
